{% extends "mainForms/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" class="p-5">
    {% csrf_token %}


    <!-- *name -->
    {{  form.non_field_errors }}
    <div class="form-group">
        <div class="col-md-6 mb-0 ">
            {{ form | crispy}}
        </div>
    </div>
    &nbsp<label for="reported-by">Reported By: &nbsp&nbsp</label>
    <label for="reported-by">{{user.username}}</label>
    <br>

    <button class="btn btn-outline-primary form-group ml-3 mb-0" type="submit"> submit
    </button>
</form>
{% endblock %}