{% extends 'mainForms/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method='POST'>
    <div class="form-group ml-3" style='width:30%'>
        {% csrf_token %}
        <fieldset class='form_group'>
            <legend>Login</legend>
            {{form|crispy}}
            <button type='submit' class="btn btn-outline-info">Login</button>
            <p>Don't have account?, <a href="{% url 'signup' %}">Register</a> Here</p>
        </fieldset>
    </div>
</form>
{% endblock %}